@page "/person/create"
@inject IPersonRepository personRepo
@inject NavigationManager navigatioManager

<h3>CreatePerson</h3>

<PersonForm Person="Person" onValidSubmit="Submit"></PersonForm>

@code {
    Person Person = new Person();

    private async Task Submit()
    {
        try
        {
            await personRepo.CreatePerson(Person);
            navigatioManager.NavigateTo("people");
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
