@page "/person/create"

<h3>CreatePerson</h3>

<PersonForm Person="Person" onValidSubmit="Submit"></PersonForm>

@code {
    Person Person = new Person();

    void Submit()
    {
        Console.WriteLine("create");
    }
}
