@page "/people/edit/{PersonId:int}"
@inject IPersonRepository personRepository
@inject NavigationManager navigationManager

<h3>EditPerson</h3>
@if(Person != null){
<PersonForm Person="Person" onValidSubmit="Submit"></PersonForm>
}
@code {
    [Parameter] public int PersonId { get; set; }
    Person Person;

    protected override async Task OnInitializedAsync()
    {
        Person = await personRepository.GetPersonById(PersonId);
    }
    async Task Submit()
    {
        await personRepository.UpdatePerson(Person);
        navigationManager.NavigateTo("people");

    }
}
