@page "/people"
@inject IPersonRepository personRepository
@attribute [Authorize]

<div class="form-group">
    <a class="btn btn-info" href="people/create">New People</a>
</div>
<Pagination CurrentPage="@paginationDTO.Page" TotalAmountPages="totalAmountPages"
            SelectedPage="SelectedPage" />
<GenericList List="People">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in People)
                {
                    <tr>
                        <td>
                            <a class="btn btn-success" href="/people/edit/@item.Id">Edit</a>
                            <button class="btn btn-danger" @onclick="@(() => DeletePeople(item.Id))">Delete</button>
                        </td>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>

@code {

    List<Person> People;
    PaginationDTO paginationDTO = new PaginationDTO();
    private int totalAmountPages;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadPeople();
        }
        catch (Exception ex)
        {

        }
    }
    async Task LoadPeople()
    {
        var paginatedResponse = await personRepository.GetPerson(paginationDTO);
        People = paginatedResponse.Response;
        totalAmountPages = paginatedResponse.TotalAmountPages;
    }
    async Task SelectedPage(int page)
    {
        paginationDTO.Page = page;
        await LoadPeople();

    }
    private async Task DeletePeople(int Id)
    {
        await personRepository.DeletePeople(Id);
        await LoadPeople();

    }
}
