@page "/movies/create"
@inject NavigationManager navigationManager
@inject IGenreRepository genreRepository
@inject IMovieRepository movieRepository
@attribute [Authorize] 

<h3>CreateMovie</h3>
@if (NotSelectedGenres.Any())
{
    <MovieForm OnValidSubmit="SaveMovie" Movie="Movie" NotSelectedGenres="NotSelectedGenres" />

}

@code {
    private Movie Movie = new Movie();
    private List<Genre> NotSelectedGenres = new List<Genre>();

    protected override async Task OnInitializedAsync()
    {
        NotSelectedGenres = await genreRepository.GetGenre();
        Console.WriteLine(NotSelectedGenres.Count.ToString());
    }

    private async Task SaveMovie()
    {

        var id = await movieRepository.CreateMovie(Movie);

        navigationManager.NavigateTo($"movie/{id}");

    }
}
