@page "/movies/create"
@inject NavigationManager navigationManager

<h3>CreateMovie</h3>

<MovieForm onValidSubmit="SaveMovie" Movie="Movie" />
@code {
    private Movie Movie = new Movie();
    private void SaveMovie()
    {
        // Saving movie...
        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("movie");

    }
}
