@page "/movies/edit/{MovieId:int}"
@attribute [Authorize]

<h3>Edit Movie</h3>

@if (Movie != null)
{
    <MovieForm Movie="Movie" onValidSubmit="SaveMovie" NotSelectedGenres="NotSelectedGenres"
           SelectedGenres="SelectedGenres" />
}

@code {
    [Parameter] public int MovieId { get; set; }
    private Movie Movie;

    private List<Genre> NotSelectedGenres = new List<Genre>()
    {
        new Genre(){Id = 2, Name = "Comedy"},
        new Genre(){Id = 3, Name = "Drama"}
    };

    private List<Genre> SelectedGenres = new List<Genre>()
    {
        new Genre(){Id = 1, Name = "Action"}
    };

    protected override void OnInitialized()
    {
        Movie = new Movie() { Id = MovieId, Title = "My Movie" };
    }
    private void SaveMovie()
    {
        // Saving movie...
        Console.WriteLine("edit");

    }
}
